# Node.js
node_modules/
dist/
.npm
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# IDE / System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
.DS_Store
Thumbs.db
